Include "location" attribute in SCIM2 response for users

on a fresh installation of WSO2IS 5.6.0, with WUM update 1557362049847, the user response does not include the meta attribute "location" as described in RFC 7643 section 3.1 under the "meta" heading's "location" subheading:

```
L110609:~ user1$ (curl -k -u admin:admin https://localhost:9443/scim2/Users | json_pp) 2>/dev/null
{
   "Resources" : [
      {
         "emails" : [
            "admin@wso2.com"
         ],
         "id" : "648ee9fa-54ae-4df5-a468-bbbc50c9f99a",
         "groups" : [
            {
               "value" : "19e030f1-3685-475b-b632-b8e0cc36691a",
               "display" : "admin"
            }
         ],
         "userName" : "admin",
         "roles" : [
            {
               "value" : "Internal/everyone,admin",
               "type" : "default"
            }
         ],
         "meta" : {
            "created" : "2019-05-14T10:34:43Z",
            "lastModified" : "2019-05-14T10:34:43Z"
         },
         "name" : {
            "givenName" : "admin",
            "familyName" : "admin"
         }
      }
   ],
   "totalResults" : 1,
   "itemsPerPage" : 1,
   "startIndex" : 1,
   "schemas" : [
      "urn:ietf:params:scim:api:messages:2.0:ListResponse"
   ]
}
```
From further inspection, it looks like this issue does not apply to users created via SCIM2 ("hello" and "hello2") but does apply to the initial admin and users created via the UI ("aaa")

```
L110609:1557362049847 user1$ curl --user admin:admin -k https://localhost:9443/scim2/Users 2>/dev/null | json_pp
{
   "Resources" : [
      {
         "meta" : {
            "lastModified" : "2019-05-14T13:41:13Z",
            "resourceType" : "User",
            "created" : "2019-05-14T13:41:13Z"
         },
         "name" : {
            "familyName" : "aaa"
         },
         "roles" : [
            {
               "value" : "Internal/everyone",
               "type" : "default"
            }
         ],
         "id" : "84a538dd-5eea-476b-b069-e8267906cfc8",
         "userName" : "aaa"
      },
      {
         "id" : "43a90a8a-3ced-42c2-984a-7a59143f97e4",
         "roles" : [
            {
               "type" : "default",
               "value" : "Internal/everyone,admin"
            }
         ],
         "userName" : "admin",
         "emails" : [
            {
               "value" : "admin@wso2.com",
               "type" : "work"
            }
         ],
         "groups" : [
            {
               "display" : "PRIMARY/admin",
               "value" : "ebe25aa8-8c14-49d5-84f9-6688be2c04e6"
            }
         ],
         "meta" : {
            "created" : "2019-05-14T13:27:58Z",
            "lastModified" : "2019-05-14T13:27:58Z"
         },
         "name" : {
            "givenName" : "admin",
            "familyName" : "admin"
         }
      },
      {
         "id" : "15b9ea3c-8f9b-48c6-8ff6-07b858471218",
         "roles" : [
            {
               "type" : "default",
               "value" : "Internal/everyone"
            }
         ],
         "meta" : {
            "created" : "2019-05-14T13:39:06Z",
            "resourceType" : "User",
            "location" : "https://localhost:9443/scim2/Users/15b9ea3c-8f9b-48c6-8ff6-07b858471218",
            "lastModified" : "2019-05-14T13:39:06Z"
         },
         "name" : {
            "familyName" : "hello"
         },
         "userName" : "hello"
      },
      {
         "meta" : {
            "lastModified" : "2019-05-14T13:39:28Z",
            "location" : "https://localhost:9443/scim2/Users/2dd1dd34-8bbb-4656-9d27-32fd8afca427",
            "resourceType" : "User",
            "created" : "2019-05-14T13:39:28Z"
         },
         "name" : {
            "familyName" : "hello2"
         },
         "id" : "2dd1dd34-8bbb-4656-9d27-32fd8afca427",
         "roles" : [
            {
               "value" : "Internal/everyone",
               "type" : "default"
            }
         ],
         "userName" : "hello2"
      }
   ],
   "itemsPerPage" : 4,
   "startIndex" : 1,
   "schemas" : [
      "urn:ietf:params:scim:api:messages:2.0:ListResponse"
   ],
   "totalResults" : 4
}
```

We need to include it for all the users.

This issue is being closed due to extended inactivity. Please feel free to reopen it if further attention is needed. Thank you for helping us keep the issue list relevant and focused!