[SCIM2] malformed schemas element in error response

In WSO2 IS 5.6.0, when creating a user whose username does not match the required regex, a SCIM2 error is returned whose `Schemas` element is the string "urn:ietf:params:scim:api:messages:2.0:Error", rather than a single-element array.  [RFC 7643 section 3](https://tools.ietf.org/html/rfc7643#section-3) specifies the Schemas element as an array.

Issuing the following command against an instance of WSO2 IS 5.6.0 with SCIM endpoint security disabled:
`curl -k -H "Content-Type: application/json" -d @intl.txt https://localhost:9443/scim2/Users`
with `intl.txt` containing:
```
{
  "externalId" : "a",
  "userName" : "a",
  "password" : "e9-da3d-4098-8583-6ada63266eab",
}
```
returns the result:
`{"schemas":"urn:ietf:params:scim:api:messages:2.0:Error","detail":"Error in adding the user: a to the user store. 31301 - Username a is not valid. User name must be a non null string with following format, [a-zA-Z0-9._\\-|//]{3,30}$","status":"500"}`

This causes problems for client libraries which expect the `schemas` element to be an array.