[Docs][SCIM2][IS 5.6.0] add "/scim2/Bulk" to Swagger documentation

The endpoint "/scim2/Bulk", mentioned [in the IS scim2 endpoint list](https://docs.wso2.com/display/IS560/SCIM+2.0+REST+APIs) and in [RFC 7644 section 3.7](https://tools.ietf.org/html/rfc7644#section-3.7), is missing from the [Swagger SCIM2 documentation](https://docs.wso2.com/display/IS560/apidocs/SCIM2-endpoints/index.html)