Invalid Handling of `response_type` and `response_mode` Combinations in the Authorization EP Implementation


**Description:**
In our implementation of the OAuth2 /authorize endpoint and the JWT Secured Authorization Response Mode (JARM), there seems to be an inconsistent handling of `response_type` and `response_mode` combinations. 

In the JARM spec (https://openid.net/specs/openid-financial-api-jarm.html#response-mode-query.jwt) it says:  
Note: "query.jwt" MUST NOT be used in conjunction with response types that contain "token" or "id_token" unless the response JWT is encrypted to prevent token leakage in the URL.

According to the OAuth 2.0 specification ([RFC 6749 Section 4.1.2.1](https://www.rfc-editor.org/rfc/rfc6749#section-4.1.2.1)), an `invalid_request` error should be returned when the request is malformed, which includes invalid parameter values.

In the current implementation, when sending an /authorize request with `response_mode` set to`query`  with `id_token` and/ or `token` as `response_type`, we fallback the `response_mode` to `fragment` which is the default response mode for `id_token` and /or `token`. Similarly, if `query.jwt` is sent with `id_token` or `token` as `response_type`, the `response_mode` is set to `fragment.jwt` in the code. However, this behavior seems to contradict the OAuth 2.0 specification, and it would be more appropriate to return a "400 Bad Request" for such invalid combinations of `response_type` and `response_mode`.

**Expected Behavior:**
A "400 Bad Request" should be returned for invalid combinations of `response_type` and `response_mode`, as per the OAuth 2.0 specification.

**Actual Behavior:**
The `response_mode` is being set to `fragment` or `fragment.jwt` based on the `response_type` values.

**References:**
- [OAuth 2.0 Specification - RFC 6749 Section 4.1.2.1](https://www.rfc-editor.org/rfc/rfc6749#section-4.1.2.1)


This issue is being closed due to extended inactivity. Please feel free to reopen it if further attention is needed. Thank you for helping us keep the issue list relevant and focused!