[IS 5.6.0] [SCIM2] malformed ListResponse from resourcetype endpoint

Currently, the response returned from the `ResourceType` endpoint has several compliance issues with the SCIM2 spec:
* has an incorrect name (`resourceType`) for the `Resources` entry as specified by `ListResponse` in [RFC 7644 section 3.4.2](https://tools.ietf.org/html/rfc7644#section-3.4.2).
* returns the top-level object's schema as `ResourceType` rather than `ListResponse` ([RFC 7644 section 4](https://tools.ietf.org/html/rfc7644#section-4))
* resource types are missing the element `"schemas": ["urn:ietf:params:scim:schemas:core:2.0:ResourceType"]` (RFC 7644 section 4 & [RFC 7643 section 3.1](https://tools.ietf.org/html/rfc7643#section-3.1))
* missing the required `ListResponse` element `totalResults` (RFC 7644 section 3.4.2)
* is at a misspelled endpoint (see #3371 )

This causes compatibility issues with client libraries, such as ping's `scim2-sdk-client`.

The current response from a server running on `localhost:9443` is:
```
{
   "schemas":[
      "urn:ietf:params:scim:schemas:core:2.0:ResourceType"
   ],
   "resourceType":[
      {
         "schema":"urn:ietf:params:scim:schemas:core:2.0:User",
         "endpoint":"/Users",
         "meta":{
            "location":"https://localhost:9443/scim2/ResourceType/User",
            "resourceType":"ResourceType"
         },
         "name":"User",
         "description":"User Account",
         "schemaExtensions":{
            "schema":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
            "required":false
         },
         "id":"User"
      },
      {
         "schema":"urn:ietf:params:scim:schemas:core:2.0:Group",
         "endpoint":"/Groups",
         "meta":{
            "location":"https://localhost:9443/scim2/ResourceType/Group",
            "resourceType":"ResourceType"
         },
         "name":"Group",
         "description":"Group",
         "id":"Group"
      }
   ]
}
```

Fixe with https://github.com/hasinthaindrajee/identity-inbound-provisioning-scim2/commit/7e0133c5d67017ac979a9ff90127388d65a2d646