`meta.lastModified` not updated after Group changes

### Description

According to the SCIM 2.0 specification ([RFC 7643, Section 3.1](https://datatracker.ietf.org/doc/html/rfc7643#section-3.1)), the `meta.lastModified` attribute is **system generated** and **must** reflect the most recent date and time at which the SCIM resource was modified. In other words, **any** change to the resource—whether it is a change to the Group’s `displayName`, its membership (e.g., adding or removing members), or any other modifiable attribute—**must** trigger an update to `meta.lastModified`.

So, for SCIM Group operations, `meta.lastModified` **must** be updated whenever the group resource changes, including but not limited to:

- Adding or removing members  
- Changing any core attribute of the group (e.g., `displayName`)  
- Replacing an existing attribute value with a new one  


### Steps to Reproduce

1. Create a group via a POST SCIM2/Groups API call:
```sh
curl -X 'POST' -L 'https://localhost:9443/scim2/Groups' \
-H 'Content-Type: application/json' \
-H 'Authorization: Basic YWRtaW46YWRtaW4=' \
-d '{
    "displayName": "manager"
}'
```
2. Add a user to the group via a PATCH SCIM2/Groups API call:
```sh
curl -L -X PATCH 'https://localhost:9443/scim2/Groups/f1262ba4-092b-404c-a7ac-3ec160b7964b' \
-H 'Authorization: Basic YWRtaW46YWRtaW4=' \
-H 'Content-Type: application/json' \
-d '{
    "schemas": [
        "urn:ietf:params:scim:api:messages:2.0:PatchOp"
    ],
    "Operations": [
        {
            "op": "add",
            "value": {
                "members": [
                    {
                        "display": "testuser",
                        "$ref": "https://localhost:9443/scim2/Users/6533dcb1-9572-40dc-a360-23df43b7b721",
                        "value": "6533dcb1-9572-40dc-a360-23df43b7b721"
                    }
                ]
            }
        }
    ]
}'
```
3. Check the group's `meta.lastModified` is still the same as the created time:
```sh
curl -L 'https://localhost:9443/scim2/Groups/f1262ba4-092b-404c-a7ac-3ec160b7964b' \
-H 'Authorization: Basic YWRtaW46YWRtaW4=' \
-H 'Content-Type: application/json'
```
```json
{
    "displayName": "manager",
    "meta": {
        "created": "2025-01-14T20:12:33.027Z",
        "location": "https://localhost:9443/scim2/Groups/f1262ba4-092b-404c-a7ac-3ec160b7964b",
        "lastModified": "2025-01-14T20:12:33.027Z"
    },
    "schemas": [
        "urn:ietf:params:scim:schemas:core:2.0:Group"
    ],
    "members": [
        . . . [omitted for brevity] . . .
    ],
    "id": "f1262ba4-092b-404c-a7ac-3ec160b7964b"
}
```
4. Change the group's name via a PATCH SCIM2/Groups API call: 
```sh
curl -L -X PATCH 'https://localhost:9443/scim2/Groups/f1262ba4-092b-404c-a7ac-3ec160b7964b' \
-H 'Authorization: Basic YWRtaW46YWRtaW4=' \
-H 'Content-Type: application/json' \
-d '{
    "schemas": [
        "urn:ietf:params:scim:api:messages:2.0:PatchOp"
    ],
    "Operations": [
        {
            "op": "replace",
            "value": {
                "displayName": "manager2"
            }
        }
    ]
}'
```
5. Check the group's `meta.lastModified` is still the same as the created time:
```sh
curl -L 'https://localhost:9443/scim2/Groups/f1262ba4-092b-404c-a7ac-3ec160b7964b' \
-H 'Authorization: Basic YWRtaW46YWRtaW4=' \
-H 'Content-Type: application/json'
```
```json
{
    "displayName": "manager2",
    "meta": {
        "created": "2025-01-14T20:12:33.027Z",
        "location": "https://localhost:9443/scim2/Groups/f1262ba4-092b-404c-a7ac-3ec160b7964b",
        "lastModified": "2025-01-14T20:12:33.027Z"
    },
    "schemas": [
        "urn:ietf:params:scim:schemas:core:2.0:Group"
    ],
    "members": [
        . . . [omitted for brevity] . . .
    ],
    "id": "f1262ba4-092b-404c-a7ac-3ec160b7964b"
}
```

### Version

5.10.0.340

### Environment Details (with versions)

N/A

Fixed with https://github.com/wso2/product-is/issues/19244