Add "version" attribute in SCIM2 response for users in the "meta" attributes

on a fresh installation of WSO2IS 5.6.0, with WUM update 1557362049847, the user response does not include the meta attribute "lversion" as described in RFC 7643 section 3.1 under the "meta" heading's "version" subheading:

This is optional but better if we can support it as well



This issue is being closed due to extended inactivity. Please feel free to reopen it if further attention is needed. Thank you for helping us keep the issue list relevant and focused!