SCIM2  create user response improvement to match the spec

[ RFC 7644 section 3.3 (Creating Resources)](https://tools.ietf.org/html/rfc7644#section-3.3) "The response body SHOULD contain the service provider's representation of the newly created resource." - "Service Provider", in SCIM2's specs, being the WSO2 server [(RFC 7643 section 1.2](https://tools.ietf.org/html/rfc7643#section-1.2)).  This includes any transformations done by WSO2, including prepending the userstore name to the beginning of the username.



to reproduce:

* unzip fresh copy of wso2is 5.6.0, WUM update 1552832456043
* in `repository/conf/user-mgt.xml`, under the uncommented `UserStoreManager`, add `<Property name="DomainName">testdomain</Property>`
* start the server
* `curl -k --user admin:admin -H "Content-Type: application/json" https://localhost:9443/scim2/Users -d '{"userName": "person", "password": "aaAA1234567890"}'`
* returns `{"meta": {"created":"2019-03-20T14:43:46Z","location":"https://localhost:9443/scim2/Users/a0097d85-614b-479e-8d17-4ca183cc1df3","lastModified":"2019-03-20T14:43:46Z","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"],"id":"a0097d85-614b-479e-8d17-4ca183cc1df3","userName":"person"}`
* `curl -k --user admin:admin https://localhost:9443/scim2/Users`
* the returned username for `person` is `TESTDOMAIN/person`, and it is also assigned a default `name` and `roles`.  The resource returned from the initial creation POST should match the final resource actually created on the server.
For example:
```
{
   "roles" : [
      {
         "type" : "default",
         "value" : "Internal/everyone"
      }
   ],
   "id" : "a0097d85-614b-479e-8d17-4ca183cc1df3",
   "userName" : "TESTDOMAIN/person",
   "name" : {
      "familyName" : "person"
   },
   "meta" : {
      "resourceType" : "User",
      "location" : "https://localhost:9443/scim2/Users/a0097d85-614b-479e-8d17-4ca183cc1df3",
      "lastModified" : "2019-03-20T14:43:46Z",
      "created" : "2019-03-20T14:43:46Z"
   }
}
```

per RFC 7644 section 3.3:
```
   When the service provider successfully creates the new resource, an
   HTTP response SHALL be returned with HTTP status code 201 (Created).
   The response body SHOULD contain the service provider's
   representation of the newly created resource.  The URI of the created
   resource SHALL include, in the HTTP "Location" header and the HTTP
   body, a JSON representation [RFC7159] with the attribute
   "meta.location".  Since the server is free to alter and/or ignore
   POSTed content, returning the full representation can be useful to
   the client, enabling it to correlate the client's and server's views
   of the new resource. 
```