[SCIM2] user creation with RFC3966-formatted phone numbers causes "Request is unparsable, syntactically incorrect, or violates schema."

Per [RFC 7643 section 4.1.2](https://tools.ietf.org/html/rfc7643#section-4.1.2) under "phoneNumber": "`The value SHOULD be specified according to the format defined in [RFC3966], e.g., 'tel:+1-201-555-0123'.`".  Attempting to send a phone number formatted this way to IS 5.6.0 returns an error - the recommended format definitely needs to be accepted, even if it is not necessarily returned.

With a local IS 5.6.0 server with SCIM endpoint security disabled, issuing the command:
```
curl -k -H "Content-Type: application/json" -d "{"password": "asdfasdfa","phoneNumbers":[{"value":"tel:+1-222-333-4444"}],"userName":"abc12345abc"}" https://localhost:9443/scim2/Users
```
gives the response:
```
{"schemas":"urn:ietf:params:scim:api:messages:2.0:Error","scimType":"invalidSyntax","detail":"Request is unparsable, syntactically incorrect, or violates schema.","status":"400"}
```
and causes the IS console to output:
```
ERROR {org.wso2.charon3.core.encoder.JSONDecoder} -  json error in decoding the resource
```

Following that command with:
```
curl -k -H "Content-Type: application/json" -d "{"password": "asdfasdfa","phoneNumbers":[{"value":"+1-222-333-4444"}],"userName":"abc12345abc"}" https://localhost:9443/scim2/Users
```
results in:
```
{"meta":{"created":"2018-07-25T12:03:29Z","location":"https://impression_local.amazon.piecestech.com:9443/scim2/Users/0af0b7e3-b8fa-4f4f-b329-05830dde9e2e","lastModified":"2018-07-25T12:03:29Z","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"],"id":"0af0b7e3-b8fa-4f4f-b329-05830dde9e2e","userName":"abc12345abc","phoneNumbers":[{"display":"+1-222-333-4444","value":"+1-222-333-4444"}]}
```

This is due to the default user store being LDAP, which requires ITU E164 format for phone numbers, and the product not converting between expected phone number formats in different systems (E164 & RFC3966 in this case).  Using only JDBC userstores can be a temporary workaround to the issue.

https://github.com/wso2/product-is/issues/3873