[IS 5.6.0] [SCIM2] allow multiple phone number / email / address claims of the same type

currently, WSO2 IS only supports one claim per type of contact information.  The SCIM2 spec ([RFC 7643 section 4.1.2](https://tools.ietf.org/html/rfc7643#section-4.1.2)) does not require types to be unique in this way, and a user may have e.g. multiple work email addresses for a variety of reasons (e.g. `position@company.com` and `name@company.com`)

You can use multi-valued attributes for this purpose. E.g. to add multiple email addresses to the user you can assign multiple values to the `emails` claim.

`curl -v -k --user admin:admin --data '{"schemas":[],"name":{"familyName":"bandara","givenName":"sathya"},"userName":"sathya","password":"sathya","emails":["sathya@wso2.com","test@home.com"]}' --header "Content-Type:application/json" https://localhost:9443/scim2/Users`

I tried running this series of commands against a local installation of IS 5.5.0, and was unable to get any of them to assign multiple addresses. (having turned off SCIM security for testing purposes - add `--user admin:admin` as needed).  I agree that the command you gave should work by the SCIM spec though.

1. `curl -k k https://localhost:9443/scim2/Users?filter=userName+eq+admin` returns `{"totalResults":1,"startIndex":1,"itemsPerPage":1,"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"Resources":[{"emails":[{"type":"other","value":"fake@email.org"}],"meta":{"created":"2018-06-27T11:12:31Z","lastModified":"2018-07-10T11:37:03Z"},"name":{"familyName":"admin"},"groups":[{"display":"Application/impression-DS"}],"id":"a450e086-ce5e-4e38-b048-d397e6190ac3","userName":"admin"}]}`
2. `curl -k v -k -X PUT --user admin:admin --data '{"emails":["test@what.com","fake@email.org"]}' --header "Content-Type:application/json" https://localhost:9443/scim2/Users/a450e086-ce5e-4e38-b048-d397e6190ac3` returns `{"schemas":"urn:ietf:params:scim:api:messages:2.0:Error","scimType":"invalidSyntax","detail":"Unknown JSON representation for the MultiValued attribute emails which has data type as COMPLEX","status":"400"}`
3. `curl -k https://localhost:9443/scim2/Users?filter=userName+eq+admin` result is unchanged
4. `curl -v -k -X PUT --user admin:admin --data '{"userName":"admin","emails":[{"value":"test@what.com","type":"other", "primary":true},{"value":"fake@email.org","type":"other"}]}' --header "Content-Type:application/json" https://localhost:9443/scim2/Users/a450e086-ce5e-4e38-b048-d397e6190ac3` returns `{"emails":[{"type":"other","value":"fake@email.org"}],"meta":{"created":"2018-06-27T11:12:31Z","lastModified":"2018-07-10T11:42:24Z"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"],"name":{"familyName":"admin"},"groups":[{"display":"Application/impression-DS"}],"id":"a450e086-ce5e-4e38-b048-d397e6190ac3","userName":"admin"}`
5. `curl -k https://localhost:9443/scim2/Users?filter=userName+eq+admin` result is unchanged
6. `curl -v -k -X PUT --user admin:admin --data '{"userName":"admin"}' --header "Content-Type:application/json" https://localhost:9443/scim2/Users/a450e086-ce5e-4e38-b048-d397e6190ac3` returns `{"meta":{"created":"2018-06-27T11:12:31Z","lastModified":"2018-07-10T11:44:40Z"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"],"name":{"familyName":"admin"},"groups":[{"display":"Application/impression-DS"}],"id":"a450e086-ce5e-4e38-b048-d397e6190ac3","userName":"admin"}`
7. `curl -k https://localhost:9443/scim2/Users?filter=userName+eq+admin` now returns `{"totalResults":1,"startIndex":1,"itemsPerPage":1,"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"Resources":[{"meta":{"created":"2018-06-27T11:12:31Z","lastModified":"2018-07-10T11:44:40Z"},"name":{"familyName":"admin"},"groups":[{"display":"Application/impression-DS"}],"id":"a450e086-ce5e-4e38-b048-d397e6190ac3","userName":"admin"}]}`
8. `curl -v -k -X PUT --user admin:admin --data '{"userName":"admin","emails":[{"value":"test@what.com","type":"other", "primary":true},{"value":"fake@email.org","type":"other"}]}' --header "Content-Type:application/json" https://localhost:9443/scim2/Users/a450e086-ce5e-4e38-b048-d397e6190ac3` still fails in the same way
9. `curl -v -k -X PUT --user admin:admin --data '{"userName":"admin","emails":[{"value":"test@what.com","type":"other"},{"value":"fake@email.org","type":"other","primary":true}]}' --header "Content-Type:application/json" https://localhost:9443/scim2/Users/a450e086-ce5e-4e38-b048-d397e6190ac3` returns `{"emails":[{"type":"other","value":"fake@email.org"}],"meta":{"created":"2018-06-27T11:12:31Z","lastModified":"2018-07-10T11:46:57Z"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"],"name":{"familyName":"admin"},"groups":[{"display":"Application/impression-DS"}],"id":"a450e086-ce5e-4e38-b048-d397e6190ac3","userName":"admin"}`
10. `curl -k https://localhost:9443/scim2/Users?filter=userName+eq+admin` returns `{"totalResults":1,"startIndex":1,"itemsPerPage":1,"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"Resources":[{"emails":[{"type":"other","value":"fake@email.org"}],"meta":{"created":"2018-06-27T11:12:31Z","lastModified":"2018-07-10T11:46:57Z"},"name":{"familyName":"admin"},"groups":[{"display":"Application/impression-DS"}],"id":"a450e086-ce5e-4e38-b048-d397e6190ac3","userName":"admin"}]}`

This issue is already identified with https://github.com/wso2/product-is/issues/3078 and fixed with latest versions. This should work fine with 5.6.0 version https://github.com/wso2/product-is/releases/tag/v5.6.0-rc3

We have fixed 

attempting to send emails as simple values (command 2 in my long comment above) still fails in the same way as well - `{"schemas":"urn:ietf:params:scim:api:messages:2.0:Error","scimType":"invalidSyntax","detail":"Unknown JSON representation for the MultiValued attribute emails which has data type as COMPLEX","status":"400"}`