[IS 5.6.0] [SCIM2] quoting filter value results in unknown operation error

against a default local installation of WSO2 Identity server 5.5.0, querying:
1. `https://localhost:9443/scim2/Users?filter=userName+eq+%22admin%22` returns `{"schemas":"urn:ietf:params:scim:api:messages:2.0:Error","scimType":"InvalidFilter","detail":"Given filter operator is not supported.","status":"400"}`
2. `https://localhost:9443/scim2/Users?filter=userName+eq+fake` returns `{"totalResults":0,"startIndex":1,"itemsPerPage":0,"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"]}`
3. `https://localhost:9443/scim2/Users?filter=userName+eq+admin` returns `{"totalResults":1,"startIndex":1,"itemsPerPage":1,"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"Resources":[{"meta":{"created":"2018-06-27T11:12:31Z","lastModified":"2018-06-28T15:37:38Z"},"name":{"givenName":"admin","familyName":"admin"},"groups":[{"display":"Application/impression-DS"}],"id":"a450e086-ce5e-4e38-b048-d397e6190ac3","userName":"admin"}]}`

`%22` is a double-quote (`"`) escaped for the URL.   Per [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2), quoting `admin` should actually be required (as it is a string value and must follow syntax for JSON strings - see the `compValue` definition on page 20).

This causes compatibility issues with client libraries, e.g. attempting to use the filtering objects from ping's `scim2-sdk-client`.

Correct behavior would be for example 1 above to return `admin`'s user object.  Technically examples 2 & 3 above are malformed, but it seems unnecessary to reject them rather than assuming the quotes for single-word parameters

still present in 5.6.0

@IsurangaPerera please check and confirm whether this issue is already fixed from https://github.com/wso2/charon/pull/168 in the latest pack. If it is closed link that pr and close this issue.

This issue is still getting reproduced against IS 5.8.0 alpha 5 

Will be fixed in 5.8.0-Beta