[scim2][docs] document EnterpriseUser schema

Currently, wso2 IS requires the "askPassword" option to be passed into user creation via the "EnterpriseUser" schema.  This property is not present in [urn:ietf:params:scim:schemas:extension:enterprise:2.0:User](https://tools.ietf.org/html/rfc7643#section-4.3), but can be seen in the example SCIM call at the end of ["Creating Users Using the Ask Password Option"]().  Is there any documentation for the "EnterpriseUser" URI?

As a side-note, per [RFC 7643 section 3.3](https://tools.ietf.org/html/rfc7643#section-3.3), "Except for the base object schema, the schema extension URI SHALL be used as a JSON container to distinguish attributes belonging to the extension namespace from base schema attributes."

You should be able to fine urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:askPassword claim under urn:ietf:params:scim:schemas:extension:enterprise:2.0:User dialect under Claims section in Identity Server Management Console. Enterprise Schema is defined from <SERVER_HOME>/repository/conf/scim2-schema-extension.config file.

thanks!

I've split the two spec conflicts I had mentioned into #3487 & #3488 