The SCIM2 API definition for search operations should be corrected.

**Is your suggestion related to a missing or misleading document? Please describe.**
In the SCIM2 API definition document for the search operations on all endpoints, for a zero results response, the status code returned is mentioned as 404 which is wrong. eg group search - https://is.docs.wso2.com/en/latest/develop/scim2-rest-apis/#/Groups%20Endpoint/getGroupsByPost


As per the scim2 specification[1], the following is mentioned
``` 
The SCIM protocol uses the HTTP response status codes defined in
Section 6 of [RFC7231] to indicate operation success or failure.
```

And as per RFC7231[2], since the server has successfully received, understood, and accepted the request, the status code should be 2xx. 

```
2xx (Successful): The request was successfully received,
understood, and accepted
```

The 4xx status codes are for client errors
```
4xx (Client Error): The request contains bad syntax or cannot be
fulfilled
```

The status codes are working as expected on the server however the documentation is showing the wrong status codes.

**Describe the improvement**
Remove the 404 status code section from the search operation on all endpoints.

[1]https://tools.ietf.org/html/rfc7644#section-3.12
[2]https://tools.ietf.org/html/rfc7231#section-6
