Improve PrivateKeyJWTClientAuthenticator to accept PAR ep url, issuer identifier as audience value

**Is your suggestion related to an experience ? Please describe.**

Currently the `PrivateKeyJWTClientAuthenticator` accepts only the token endpoint URL as audience value [1]. To conform to the PAR spec [2], it needs to accept issuer identifier, token endpoint URL, or pushed authorization request endpoint URL as audience values.

```
Due to historical reasons, there is potential ambiguity regarding the appropriate audience value to use 
when employing JWT client assertion-based authentication (defined in Section 2.2 of [RFC7523] with 
private_key_jwt or client_secret_jwt authentication method names per Section 9 of [OIDC]). 
To address that ambiguity, the issuer identifier URL of the authorization server according to [RFC8414] 
SHOULD be used as the value of the audience. In order to facilitate interoperability, 
the authorization server MUST accept its issuer identifier, token endpoint URL, or 
pushed authorization request endpoint URL as values that identify it as an intended audience.
```

### Related issues 
- Issue https://github.com/wso2/product-is/issues/16573

[1] https://github.com/wso2-extensions/identity-oauth-addons/blob/162cd884697650f5ef4285e3e1a654e3ab40df2e/component/client-handler/src/main/java/org/wso2/carbon/identity/oauth2/token/handler/clientauth/jwt/PrivateKeyJWTClientAuthenticator.java#L188
[2] https://datatracker.ietf.org/doc/html/rfc9126#name-pushed-authorization-reques





This issue is being closed due to extended inactivity. Please feel free to reopen it if further attention is needed. Thank you for helping us keep the issue list relevant and focused!