[SCIM2] user extensions not keyed by URN

Currently, the `EnterpriseUser` key is used in SCIM user creation to specify the properties of a user specified in `urn:ietf:params:scim:schemas:extension:enterprise:2.0:User`.

Per [RFC 7643 section 3.3](https://tools.ietf.org/html/rfc7643#section-3.3), "Except for the base object schema, the schema extension URI SHALL be used as a JSON container to distinguish attributes belonging to the extension namespace from base schema attributes.".  See also the example User JSON in [section 8.3](https://tools.ietf.org/html/rfc7643#section-8.3).

This causes compatibility issues with SCIM client libraries.