Cannot assign primitive values to a multi-valued attribute in SCIM2

As per section 2.4 of SCIM2 core specification [1] the following can be noted.

> Multi-valued attributes contain a list of elements using the JSON
>    array format defined in Section 5 of [RFC7159].  Elements can be
>    either of the following:
> 
>    o  primitive values, or
> 
>    o  objects with a set of sub-attributes and values, using the JSON
>       object format defined in Section 4 of [RFC7159], in which case
>       they SHALL be considered to be complex attributes.

However with the current implementation, creating a user with a multi-valued attribute of primitive types gives an error.

### Steps to reproduce

**Create SCIM user with following request**
curl -v -k --user admin:admin --data '{"schemas":[],"name":{"familyName":"jayawardana","givenName":"vindula1"},"userName":"vindula1","password":"vindula","phoneNumbers":["123456", "56789"]}' --header "Content-Type:application/json" https://localhost:9443/scim2/Users

**Response** 
{"schemas":"urn:ietf:params:scim:api:messages:2.0:Error","scimType":"invalidSyntax","detail":"Unknown JSON representation for the MultiValued attribute phoneNumbers which has data type as COMPLEX","status":"400"}

[1] https://tools.ietf.org/html/rfc7643#section-2.4