[IS 5.6.0] [SCIM2] canonicalize complex multivalue attributes (email & phone number)

per [RFC 7643 section 2.4](https://tools.ietf.org/html/rfc7643#section-2.4):
"When returning multi-valued attributes, service providers SHOULD canonicalize the value returned (e.g., by returning a value for the sub-attribute "type", such as "home" or "work") when appropriate (e.g., for email addresses and URLs)."

However, after:
* disabling SCIM2 endpoint auth (for testing purposes)
* sending a SCIM2 request to add the `other` email address `fake@email.org` to admin
* setting admin's email address in the dashboard to `what@what.what`
* issuing `curl -k https://localhost:9443/scim2/Users?filter=userName+eq+admin`
the result is:
`{"schemas":"urn:ietf:params:scim:api:messages:2.0:Error","scimType":"invalidSyntax","detail":"Request is unL110607:github matt.bL110607:github matt.beary$ curl -k https://localhost:9443/scim2/Users?filter=userName+eq+admin
{"totalResults":1,"startIndex":1,"itemsPerPage":1,"schemas":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"Resources":[{"emails":[{"type":"other","value":"fake@email.org"},"what@what.what"],"meta":{"created":"2018-07-13T14:11:57Z","lastModified":"2018-07-16T17:03:43Z"},"name":{"givenName":"me!","familyName":"admin"},"groups":[{"display":"Application/local-8443"}],"id":"fd650662-a0fc-4095-a88a-c4d9203b3e67","userName":"admin"}]}`

`what@what.what` should be returned as an object with a value string (and possibly a default type), not a primitive string

This issue is being closed due to extended inactivity. Please feel free to reopen it if further attention is needed. Thank you for helping us keep the issue list relevant and focused!