WSO2 IS 5.8.x and 5.9.x, the SCIMv2 apis are not honoring the header charset=UTF8

In a vanilla install of WSO2 IS 5.8.x, SCIMv2 is not honoring the header charset=UTF8 as specified in [RFC 8259 Section 8.1]((https://tools.ietf.org/html/rfc8259#section-8.1))

To reproduce:

`curl -v -k --user admin:admin --data '{"schemas":[],"name": \{"familyName":"jackson","givenName":"kim"},"userName":"kim","password":"kimwso2","emails": \[{"primary":true,"value":"kim.jackson@gmail.com","type":"home"},\{"value":"kim_j@wso2.com","type":"work"}]}' --header "Content-Type:application/scim+json; charset=utf-8" https://localhost:9443/scim2/Users`

This makes the SCIM server incompatible with other systems that follow the most recent spec (such as most IDPs).

The result is

`{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"detail":"application/scim+json; charset=utf-8 is not supported.","status":"406"}`

SInce my URL formatting didn't originally come through: [RFC 8259 Section 8.1](https://tools.ietf.org/html/rfc8259#section-8.1)

8.1.  Character Encoding

   JSON text exchanged between systems that are not part of a closed
   ecosystem **MUST** be encoded using UTF-8 [RFC3629].

   _Previous specifications of JSON have not required the use of UTF-8
   when transmitting JSON text_.  However, the vast majority of JSON-
   based software implementations have chosen to use the UTF-8 encoding,
   to the extent that it is the only encoding that achieves
   interoperability.

   Implementations **MUST NOT** add a byte order mark (U+FEFF) to the
   beginning of a networked-transmitted JSON text.  In the interests of
   interoperability, implementations that parse JSON texts MAY ignore
   the presence of a byte order mark rather than treating it as an
   error.