[SCIM2] `urn:ietf:params:scim:schemas:extension:enterprise:2.0:User` used by IS 5.6.0 contains properties not in IETF specification

the `askPassword` option used by IS 5.6.0 (on line 138 of `scim2-schema-extension.config`) is set to be included as part of `urn:ietf:params:scim:schemas:extension:enterprise:2.0:User`.   This conflicts with the standard [as registered in IANA](https://www.iana.org/assignments/scim/scim.xhtml), which references [RFC 7643 section 4.3](https://tools.ietf.org/html/rfc7643#section-4.3).  Thus, to prevent compatibility problems with client libraries, this should be included as a separate wso2-specific extension.