Incorrect scimType Usage in Roles API Error Response

### Description

The /Roles endpoint in WSO2 Identity Server returns an incorrect scimType in error responses. According to [RFC 7644 Section 3.12](https://datatracker.ietf.org/doc/html/rfc7644#section-3.12), scimType should use predefined values such as invalidSyntax or invalidValue, but currently, it includes a detailed error message instead.

For example, when attempting to create a role with an invalid character in the name, the response is:
```
{
    "schemas": [
        "urn:ietf:params:scim:api:messages:2.0:Error"
    ],
    "scimType": "Invalid character: / contains in the role name: /t.",
    "detail": "Request is unparsable, syntactically incorrect, or violates schema.",
    "status": "400"
}
```
Since the /Roles endpoint is a non-standard SCIM resource, the expected behavior should either: 
- Follow the standard scimType values (e.g., invalidSyntax or invalidValue), or
- Introduce a custom error schema while maintaining consistency with SCIM error handling practices.

### Steps to Reproduce

Steps to Reproduce:

- Send a POST request to the /scim2/v2/Roles endpoint with a role name containing an invalid character (e.g., "/").
   https://is.docs.wso2.com/en/latest/apis/roles-v2-rest-api/#tag/Roles-Endpoint/operation/createRoleV2
- Observe the response returned by the server.

- Notice that the scimType contains a detailed error message instead of a standardized value.

### Version

IS 7.1.0

### Environment Details (with versions)

_No response_