JWKS endpoint's x5c could include a certificate with negative serial number

### Description

The JWKS endpoint response sends the tenanted public certificate and this could be a certificate with a negative serial number. 

At the point of certificate generation during tenant creation, we are generating a random number and assigning it as the serial. This random number can be a positive or negative integer in the current logic[1].

There is a strict enforcement of serial number validation introduced in Go 1.23+, where an application that consumes the JWKS endpoint response throws an error if the serial number is negative.

Additionally, RFC 5280, Section 4.1.2.2[2] states the following
```
   The serial number MUST be a positive integer assigned by the CA to
   each certificate.  It MUST be unique for each certificate issued by a
   given CA (i.e., the issuer name and serial number identify a unique
   certificate).  CAs MUST force the serialNumber to be a non-negative
   integer.
```


[1] https://github.com/wso2/carbon-multitenancy/blob/master/components/tenant-mgt/org.wso2.carbon.tenant.keystore.mgt/src/main/java/org/wso2/carbon/keystore/mgt/KeyStoreGenerator.java#L164


### Steps to Reproduce

Retrieve the tenanted certificate using the JWKS endpoint. 
Decode the certificate and observe that for some tenants, the serial number is a negative value

### Please select the area issue is related to

Other

### Version

7.1.0

### Environment Details (with versions)

_No response_

### Developer Checklist

- [ ] [Behavioural Change] Does this change introduce a behavioral change to the product?
- [ ]  ↳ Approved by team lead
- [ ]  ↳ Label `impact/behavioral-change` added
- [ ] [Migration Impact] Does this change have a migration impact?
- [ ]  ↳ Migration label added (e.g., `7.2.0-migration`)
- [ ]  ↳ Migration issues created and linked
- [ ] [New Configuration] Does this change introduce a new configuration?
- [ ]  ↳ Label `config` added
- [ ]  ↳ Configuration is properly documented