[IS 5.6.0] [SCIM2] including "schemas" element when creating user causes JSONDecoder error

attempting the following request against a local installation of WSO2 IS 5.6.0 with security disabled on the scim endpoints:
`curl -k -H "Content-Type: application/json" -d "{"schemas":["urn:ietf:params:scim:schemas:core:2.0:User"],"password": "asdfasdfa","userName":"whaat"}" https://localhost:9443/scim2/Users`
results in:
`{"schemas":"urn:ietf:params:scim:api:messages:2.0:Error","scimType":"invalidSyntax","detail":"Request is unparsable, syntactically incorrect, or violates schema.","status":"400"}`
and causes the log item: `ERROR {org.wso2.charon3.core.encoder.JSONDecoder} -  json error in decoding the resource`
however, removing the "schemas" element:
`curl -k -H "Content-Type: application/json" -d "{"password": "asdfasdfa","userName":"whaat"}" https://localhost9443/scim2/Users`
results in: `{"meta":{"created":"2018-07-24T18:37:15Z","location":"https://localhost:9443/scim2/Users/0794e444-3bc4-42ea-b447-30ed7135bbef","lastModified":"2018-07-24T18:37:15Z","resourceType":"User"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User","urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"],"id":"0794e444-3bc4-42ea-b447-30ed7135bbef","userName":"whaat"}`

as the "schemas" element is specifically used in the User creation example in [RFC 7644 section 3.3](https://tools.ietf.org/html/rfc7644#section-3.3), it should be allowable here.  This causes some compatibility issues, as the `scim2-sdk-client` library includes that field in its creation requests

Thank you for your contribution!
We are closing this issue since it has not been prioritized for a long time. Chances are that it has already been solved in more recent versions. If not, we will be re-evaluating this when it becomes a priority.
