[IS 5.6.0] [SCIM2] "ResourceTypes" endpoint implemented as "ResourceType"

per the SCIM2 standard ([RFC 7644, section 4](https://tools.ietf.org/html/rfc7644#section-4)), resource information should be available via the `/ResourceTypes` endpoint.  However, WSO2 makes this available as `/ResourceType` instead.  This causes incompatibility with client libraries, e.g. Ping's `scim2-sdk-client`.

Fixed with https://github.com/hasinthaindrajee/identity-inbound-provisioning-scim2/commit/7e0133c5d67017ac979a9ff90127388d65a2d646