Angular applications use # for navigation purposes. IS doesn't allow callback URLs to have "#" in it

**Description:**
Angular applications use # for navigation purposes. IS doesn't allow callback URLs to have "#" in it
It is a considerable impact for developers of SPA apps to prevent them to use #s

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**
5.7

**OS, DB, other environment details and versions:**    
any

**Steps to reproduce:**
Create a service provider and input an URL with a # like so:
http://localhost:4200/#/auth/callback

**Related Issues:**


According to the OAuth spec [1], the callback_uri(redirect URI) should not contain a fragment identifier.

> The redirection endpoint URI MUST be an absolute URI as defined by
>    [RFC3986] Section 4.3.  The endpoint URI MAY include an
>    "application/x-www-form-urlencoded" formatted (per Appendix B) query
>    component ([RFC3986] Section 3.4), which MUST be retained when adding
>    additional query parameters.  The endpoint URI MUST NOT include a
>    fragment component.

[1]https://tools.ietf.org/html/rfc6749#section-3.1.2

Thanks for the feedback. I agree it is working as it should. 