[SCIM2] add support for all multi-valued sub-attributes to be compliant with RFC7643

**Is your suggestion related to an experience ? Please describe.**
SCIM2 Multi-valued sub-attributes are not compliant with RFC7643.
Only type value and $ref (for group only) sub-attributes are supported currently.
Multiple addresses with disctinct attributes for street, locality, region, country can't be set currently.


**Describe the improvement**
Add mapping support for all complex multivalued:
```
   primary
      A Boolean value indicating the 'primary' or preferred attribute
      value for this attribute, e.g., the preferred mailing address or
      the primary email address.  The primary attribute value "true"
      MUST appear no more than once.  If not specified, the value of
      "primary" SHALL be assumed to be "false".

   display
      A human-readable name, primarily used for display purposes and
      having a mutability of "immutable".

   $ref
      The reference URI of a target resource, if the attribute is a
      reference.  URIs are canonicalized per Section 6.2 of [RFC3986].
      While the representation of a resource may vary in different SCIM
      protocol API versions (see Section 3.13 of [RFC7644]), URIs for
      SCIM resources with an API version SHALL be considered comparable
      to URIs without a version or with a different version.  For
      example, "https://example.com/Users/12345" is equivalent to
      "https://example.com/v2/Users/12345".
```

Add Addresses specific sub-attributes support (currently only formatted seems to be implemented but it is bugged) :

```
   addresses
      A physical mailing address for this user.  Canonical type values
      of "work", "home", and "other".  This attribute is a complex type
      with the following sub-attributes.  All sub-attributes are
      OPTIONAL.

      formatted  The full mailing address, formatted for display or use
         with a mailing label.  This attribute MAY contain newlines.

      streetAddress  The full street address component, which may
         include house number, street name, P.O. box, and multi-line
         extended street address information.  This attribute MAY
         contain newlines.

      locality  The city or locality component.

      region  The state or region component.

      postalCode  The zip code or postal code component.

      country  The country name component.  When specified, the value
         MUST be in ISO 3166-1 "alpha-2" code format [ISO3166]; e.g.,
         the United States and Sweden are "US" and "SE", respectively.
```
**Implementation proposal**

support mapping as is:
- urn:ietf:params:scim:schemas:core:2.0:User:XX get array of simple value (already implemented)
- urn:ietf:params:scim:schemas:core:2.0:User:XX.TYPE get array of complexe value map to {"type": "TYPE", value: "VALUE"}  (already implemented)
- urn:ietf:params:scim:schemas:core:2.0:User:XX.TYPE.SUBNAME get array of complexe value map to {"type": "TYPE", SUBNAME: "VALUE"} to be expandable (need to be implemented)

for primary we can use the value of the parent to store the primary type name for case 2 and 3 or a special reserved claim like urn:ietf:params:scim:schemas:core:2.0:User:XX._primary


This issue is being closed due to extended inactivity. Please feel free to reopen it if further attention is needed. Thank you for helping us keep the issue list relevant and focused!