[SCIM2]Uniqueness for the primary email attribute

The possibility to use the "primary" flag in SCIM2 spec to determine which email address or phone number is set as the primary is introduced from https://github.com/wso2/product-is/issues/3823
But the uniqueness of the primary emails is not supported (Now we can have multiple primary emails). Or else it allows having multiple primary emails.



for clarification, the location of this in the spec is [RFC 7643 section 2.4](https://tools.ietf.org/html/rfc7643#section-2.4):

```
   primary
      A Boolean value indicating the 'primary' or preferred attribute
      value for this attribute, e.g., the preferred mailing address or
      the primary email address.  The primary attribute value "true"
      MUST appear no more than once.  If not specified, the value of
      "primary" SHALL be assumed to be "false".
```

This issue is being closed due to extended inactivity. Please feel free to reopen it if further attention is needed. Thank you for helping us keep the issue list relevant and focused!