Unable to change the error code if validation fails inside validateGrant method in Grant Hanlder

**Describe the issue:**
When implementing a grant handler by extending `AbstractAuthorizationGrantHandler`, if the validation fails inside `validateGrant` method during a token generation request, it always returns error code - `invalid_grant` as it is hard-coded in [1].

We identified this issue when implementing token-exchange grant type. According to the spec [2], when certain validation fails, it should return error code as `invalid_request` or `invalid_target`. For example:

>   If the request itself is not valid or if either the "**subject_token**"
>    or "**actor_token**" are invalid for any reason, or are unacceptable
>    based on policy, the authorization server MUST construct an error
>    response, as specified in Section 5.2 of [RFC6749].  The value of the
>    "error" parameter MUST be the "**invalid_request**" error code.

Even though the relevant error code, propagated from the grant handler, it is overridden with `invalid_grant` in [1]. 

[1] https://github.com/wso2-extensions/identity-inbound-auth-oauth/blob/master/components/org.wso2.carbon.identity.oauth/src/main/java/org/wso2/carbon/identity/oauth2/token/AccessTokenIssuer.java#L279
[2] https://datatracker.ietf.org/doc/html/rfc8693#section-2.2.2

**Expected behavior:**
It should be able to set the relevant error code from the grant handler according to the requirement. 

**Environment information** (_Please complete the following information; remove  any unnecessary fields_) **:**
 - Product Version: IS 5.11.0


This issue is being closed due to extended inactivity. Please feel free to reopen it if further attention is needed. Thank you for helping us keep the issue list relevant and focused!