Use the user id as the default subject identifier.

At the moment default subject identifier (in OIDC and SAML) used is username. However after onboarding user id to user store manager level, we are now in a position to use the user id as the default subject identifier. In the same time OIDC recommends a locally unique and never reassigned identifier as the subject identifier. So user id in the product matches with this definition and it makes more sense to have this as the subject identifier.

With this improvement,

- [x] backend implementation needs to be changed to use the user id as the subject identifier instead of username.
- [ ] frontend needs to be improved to reflect this change.

Below are the identified places that use the username as the subject identifier in OIDC related functionalities.

### [OAuth 2 introspection response](https://datatracker.ietf.org/doc/html/rfc7662#section-2.2)
```
sub
      OPTIONAL.  Subject of the token, as defined in JWT [RFC7519].
      Usually a machine-readable identifier of the resource owner who
      authorized this token.
username
      OPTIONAL.  Human-readable identifier for the resource owner who
      authorized this token.
```

Current sample response
```
{
   "aut":"APPLICATION_USER",
   "nbf":1626852504,
   "scope":"openid",
   "active":true,
   "token_type":"Bearer",
   "exp":1626856104,
   "iat":1626852504,
   "client_id":"i9mrKqGVZCjzMWzKZljr0XaD_SMa",
   "username":"admin@carbon.super"
}
```
While the username is already there according to the spec, we can additionally add the user id of the user now.

### [OIDC Id token](https://openid.net/specs/openid-connect-core-1_0.html#IDToken)
```
sub
      REQUIRED. Subject Identifier. A locally unique and never reassigned identifier within the Issuer for the End-User, 
      which is intended to be consumed by the Client, e.g., 24400320 or AItOawmwtWwcT0k51BayewNvutrJUqsvl6qs7A4. 
      It MUST NOT exceed 255 ASCII characters in length. The sub value is a case sensitive string.
```
Current sample id token
```
{
  "isk": "688e079e07c56423d0523d185a5dbc207f4ca4b45ccb1f317bf875bad4d2b981",
  "at_hash": "gj5-oIAymbY--q0OjMCFew",
  "aud": "i9mrKqGVZCjzMWzKZljr0XaD_SMa",
  "c_hash": "3e2SySfxXb0-NlQCN9vQ0g",
  "sub": "admin",
  "nbf": 1626852504,
  "azp": "i9mrKqGVZCjzMWzKZljr0XaD_SMa",
  "amr": [
    "BasicAuthenticator"
  ],
  "iss": "https://localhost:9443/oauth2/token",
  "exp": 1626856104,
  "iat": 1626852504,
  "sid": "60f9ac54-66d6-4efa-80e5-870a44dfb15d"
}
```
Since the current sub is not the correct value according to the spec, we can change it.

### [Userinfo response](https://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse)
`The sub Claim in the UserInfo Response MUST be verified to exactly match the sub Claim in the ID Token; if they do not match, the UserInfo Response values MUST NOT be used.`

Current sample userinfo response
```
{
   "sub":"admin"
}
```
This needs to be aligned with the sub in the id token this needs to be changed to user id.

### [JWT access token](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-access-token-jwt-13#section-2.2)
```
   sub  REQUIRED - as defined in Section 4.1.2 of [RFC7519].  In case of
      access tokens obtained through grants where a resource owner is
      involved, such as the authorization code grant, the value of "sub"
      SHOULD correspond to the subject identifier of the resource owner.
      In case of access tokens obtained through grants where no resource
      owner is involved, such as the client credentials grant, the value
      of "sub" SHOULD correspond to an identifier the authorization
      server uses to indicate the client application.  See Section 5 for
      more details on this scenario.  Also, see Section 6 for a
      discussion about how different choices in assigning "sub" values
      can impact privacy.
```

Current sample
```
{
  "sub": "admin",
  "aut": "APPLICATION_USER",
  "aud": "i9mrKqGVZCjzMWzKZljr0XaD_SMa",
  "nbf": 1626862328,
  "azp": "i9mrKqGVZCjzMWzKZljr0XaD_SMa",
  "scope": "openid",
  "iss": "https://localhost:9443/oauth2/token",
  "exp": 1626865928,
  "iat": 1626862328,
  "jti": "b615657e-c778-4204-bcd4-d1000aaf7488"
}
```

Related to https://github.com/wso2/product-is/issues/8901

This issue is being closed due to extended inactivity. Please feel free to reopen it if further attention is needed. Thank you for helping us keep the issue list relevant and focused!