"$ref" attribute missing from groups returned in user query and users returned in group query

IS version: 5.6.0

As per RFC 7643 section 4.1.2 [1] under the "groups" heading:

If the SCIM service provider exposes a "Group" resource, the "value" sub-attribute MUST be the "id", and the "$ref" sub-attribute must be the URI of the corresponding "Group" resources to which the user belongs.

per RFC 7643 section 4.2 [2] under the "members" heading:

The "value" sub-attribute contains the value of an "id" attribute of a SCIM resource, and the "$ref" sub-attribute must be the URI of a SCIM resource such as a "User", or a "Group".

But when we list the members using Group schema with IS, we don't have $ref subattribute in the members section.

curl -k -u admin:admin https://localhost:9443/scim2/Groups

```
{
  "startIndex" : 1,
  "itemsPerPage" : 1,
  "totalResults" : 1,
  "schemas" : [
     "urn:ietf:params:scim:api:messages:2.0:ListResponse"
  ],
  "Resources" : [
     {
        "displayName" : "PRIMARY/admin",
        "members" : [
           {
              "value" : "9e6b5d99-ab49-4e86-a198-65c637c44524",
              "display" : "admin"
           }
        ],
        "meta" : {
           "location" : "https://localhost:9443/scim2/Groups/7a1e2a40-2dc8-4210-8320-aafffd76e424",
           "lastModified" : "2019-05-15T13:27:15Z",
           "created" : "2019-05-15T13:27:15Z"
        },
        "id" : "7a1e2a40-2dc8-4210-8320-aafffd76e424"
     }
  ]
}
```

Similarly, when listing group in User schema, we don't get $ref attribute in the group section.

```
{
  "itemsPerPage" : 1,
  "schemas" : [
     "urn:ietf:params:scim:api:messages:2.0:ListResponse"
  ],
  "startIndex" : 1,
  "Resources" : [
     {
        "name" : {
           "givenName" : "admin",
           "familyName" : "admin"
        },
        "emails" : [
           "admin@wso2.com"
        ],
        "id" : "9e6b5d99-ab49-4e86-a198-65c637c44524",
        "meta" : {
           "lastModified" : "2019-05-15T13:27:15Z",
           "created" : "2019-05-15T13:27:15Z"
        },
        "groups" : [
           {
              "value" : "7a1e2a40-2dc8-4210-8320-aafffd76e424",
              "display" : "admin"
           }
        ],
        "roles" : [
           {
              "value" : "Internal/everyone,admin",
              "type" : "default"
           }
        ],
        "userName" : "admin"
     }
  ],
  "totalResults" : 1
}
```

 The $ref attribute is not sent in the response under groups or members in either response. This need to be addressed in WSO2 IS.

[1] https://tools.ietf.org/html/rfc7643#section-4.1.2

[2] https://tools.ietf.org/html/rfc7643#section-4.2


